{% extends 'base.html' %}
{% block page_title %}Novo Concorrente{% endblock %}
{% block content %}
<div class="panel mt-4 form-panel">
    <p class="text-muted">Cole a URL do perfil do Instagram. O sistema tenta captar metadados publicos do perfil, do feed e da Meta Ads Library para montar a base digital do concorrente.</p>
    <form method="post">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-4">{{ form.empresa.label_tag }}{{ form.empresa }}</div>
            <div class="col-md-8">{{ form.instagram_profile_url.label_tag }}{{ form.instagram_profile_url }}</div>
        </div>
        <button class="btn btn-dark mt-4" type="submit">Salvar concorrente</button>
    </form>
</div>
{% endblock %}
