{% extends 'base.html' %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
<div class="panel mt-4 form-panel">
    <form method="post">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-8">{{ form.nome.label_tag }}{{ form.nome }}</div>
            <div class="col-md-4">{{ form.segmento.label_tag }}{{ form.segmento }}</div>
            <div class="col-12">{{ form.observacoes.label_tag }}{{ form.observacoes }}</div>
            <div class="col-12 form-check">{{ form.ativo }} <label class="form-check-label" for="{{ form.ativo.id_for_label }}">Empresa ativa</label></div>
        </div>
        <button class="btn btn-dark mt-4" type="submit">Salvar</button>
    </form>
</div>
{% endblock %}

